<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Views</title>
</head>
<body>
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Deleniti unde eius, maiores eligendi velit illum iure asperiores 
         eum ducimus officia, omnis quibusdam expedita rerum veritatis in
          nemo itaque perferendis reprehenderit.
    </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Rem voluptatum quae voluptatem doloribus doloremque.
         Sint eveniet eaque laudantium vel porro officia error 
         reprehenderit! Laborum mollitia,
         labore consequuntur culpa quisquam explicabo.
    </p>
    
</body>
</html>